.map-container {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  /* Adjust the aspect ratio as needed */
  position: relative;
}

.map-container .leaflet-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .map-container {
    height: 300px;
  }
}