.map-container {
  width: 100%;
  height: 100%;
  padding-bottom: 50%;
  /* Adjust the aspect ratio as needed */
  position: relative;
}

.map-container .leaflet-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Add your desired styles based on weather conditions */
.map-container.weather-rain {
  background-color: blue;
}

.map-container.weather-clear {
  background-color: yellow;
}

.weather-cloud {
  /* background-color: gray; */
}

.map-container.weather-snow {
  background-color: white;
}

.map-container.weather-default {
  background-color: #eaeaea;
}

@media (max-width: 768px) {
  .map-container {
    height: 100%;
  }
}

.leaflet-marker-icon.weather-rain {
  background-color: blue;
}

.leaflet-marker-icon.weather-clear {
  background-color: yellow;
}

.leaflet-marker-icon.weather-cloud {
  background-color: gray;
}

.leaflet-marker-icon.weather-snow {
  background-color: white;
}

.leaflet-marker-icon.weather-default {
  background-color: green;
}